
#bar { float:left; width:100%; padding:20px 0; }

#description_bar { float:left; width:100%; padding:20px 0; border-bottom: 5px solid #092b71; }

#books_bar { float:left; width:100%; padding:20px 0; border-bottom: 5px solid #092b71; }

#container { width:150px; margin: 20px 0 0 0; padding: 0; float:left; }

#loginContainer { margin: 0 0px 0 0; position:relative; font-size:12px; }

#loginButton { padding: 0; margin: 0 0px 0 0px; display:inline-block; border-radius:3px; -moz-border-radius:3px; position:relative; z-index:30; cursor:pointer; }

#loginButton img { float:left; padding: 0; margin: 0 0px 0 0; display:block; }

#loginBox { position:absolute; top:34px; right:0; display:none; z-index:29; }

#loginButton.active { border-radius:3px 3px 0 0; }

#loginButton.active span { background-position:53px -76px; }

#loginButton.active em { position:absolute; width:100%; height:1px; background:#d2e0ea; bottom:-1px; }

#loginForm { position:fixed; padding: 0; margin: 0 0px 0 -150px; background:#dedede; width:218px; height:450px; border:1px solid #bababa; border-radius: 0 5px 5px 0; opacity:0.9; }

#loginForm ul { padding: 0 5px; margin: 0; }

#loginForm ul h1 { color:#092b71; font-size:26px; line-height:36px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding: 0 0 0 10px; margin: 20px 0 10px 0; }

#loginForm ul li { list-style:none; padding: 0 0 0 10px; margin: 0; }

#loginForm ul li a { color:#494949; font-size:24px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:48px; padding: 0; margin: 0; }

#loginForm ul li p a { color:#494949; font-size:18px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:24px; padding: 0; margin: 0; }

#loginForm ul li ul { padding: 0; margin: -115px 0 0 0; float:left; }

#loginForm ul li ul h2 { color:#f89e00; font-size:25px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:36px; padding: 10px 0 0 10px; margin: 0; }

#loginForm ul li ul li { padding: 0 0 0 10px; margin: 0; }

#loginForm ul li ul li p { font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#6f6e6e; padding: 0; margin: 0; }

#loginForm ul li.full_storage { font-weight:bold; font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; }

#loginForm ul li.full_storage a { font-weight:bold; font-size:14px; color:#494949; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

#loginForm ul li.full_storage span { float:right; color:#f89e00; font-weight:bold; font-size:40px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding: 0; margin: -3px 0 0px 0; }

ul.makeMenu, ul.makeMenu ul { width: 218px; border: 1px solid #bababa; border-radius: 0 5px 5px 0; background-color: #dedede; padding-left: 0px; cursor: default; margin-left: 0px; height:470px; }

ul.makeMenu li { list-style-type: none; margin: 0px 0 0 0; position: relative; color: #000; }

ul.makeMenu li > ul { width:280px; display: none; position: absolute; margin: 0 0 0 0; left: 223px; }
  
ul.makeMenu li:hover > ul { display: block; }

ul.makeMenu ul.CSStoShow { display: block; }