/** loading css **/

overlay{
    display:block;
    background:rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
}


.loadingBar{
    display:block;
    position:fixed;
    width:230px;
    height:24px;
    border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    box-shadow:0px 0px 6px #000;
    left:50%;
    top:50%;
    margin:-12px 0px 0px -115px;
    padding:8px;
    background: #252525;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #252525 0%, #1a1a1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), color-stop(100%,#1a1a1a));
    background: -webkit-linear-gradient(top, #252525 0%,#1a1a1a 100%);
    background: -o-linear-gradient(top, #252525 0%,#1a1a1a 100%);
    background: -ms-linear-gradient(top, #252525 0%,#1a1a1a 100%);
    background: linear-gradient(to bottom, #252525 0%,#1a1a1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#1a1a1a',GradientType=0 );
    border:1px solid #000;
    z-index:100;
}



/* Loading Animation */

.loading, .lodingString{
    display:inline-block;
    font:bold 12px/24px Arial, Helvetica, sans-serif;
    color:#ccc;
    backface-visibility:visible;
    float:left;
}

.loading{
    width:28px;
    height:24px;
    overflow:hidden;
    margin:0;
    animation:loader 1s ease-in-out alternate infinite;
    -webkit-animation:loader 1s ease-in-out alternate infinite;
    -moz-animation:loader 1s ease-in-out alternate infinite;
}

.lodingString{
    white-space:nowrap;
    margin:0px 3px 0px 0px;
}

@keyframes loader {
    0% {
    width:28px;
}

20%{
    width:23px;
}

40% {
    width:16px;
}

60%{
    width:10px;
}

80%{
    width:4px;
}

100% {
    width:0px;
}
}

@-webkit-keyframes loader {
    0% {
    width:28px;
}

20%{
    width:23px;
}

40% {
    width:16px;
}

60%{
    width:10px;
}

80%{
    width:4px;
}

100% {
    width:0px;
}
}

@-moz-keyframes loader {
    0% {
    width:28px;
}

20%{
    width:23px;
}

40% {
    width:16px;
}

60%{
    width:10px;
}

80%{
    width:4px;
}

100% {
    width:0px;
}
}
