.testresult{
    font-weight: bold;
    font-size:12px;
    font-family: arial,helvetica,san-serif;
    color:#666;
    padding:0px 0px 12px 0px;
    margin-left:10px;
    display: block;
    height:28px;
    float:left;
}
.testresult span{
    padding:10px 20px 12px 10px;
    margin: 0px 0px 0px 20px;
    display:block;
    float:right;
    white-space: nowrap;
}
.shortPass{
    background:url(images/red.png) no-repeat 0 0;
}
.shortPass span{
    background:url(images/red.png) no-repeat top right;
}
.badPass{
    background:url(images/red.png) no-repeat 0 0;
}
.badPass span{
    background:url(images/red.png) no-repeat top right;
}
.goodPass{
    background:url(images/yellow.png) no-repeat 0 0;
}
.goodPass span{
    background:url(images/yellow.png) no-repeat top right;
}
.strongPass{
    background:url(images/green.png) no-repeat 0 0;
}
.strongPass span{
    background:url(images/green.png) no-repeat top right;
}
