@charset "utf-8";
/* CSS Document */

ul.accordion, ol.accordion { margin: 0; padding: 0; }

.accordion li { list-style-type: none; margin: 0; padding: 0; }

.accordion li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; *zoom: 1; }

.accordion li li { list-style-type: disc; margin-left: 1em; }

.accordion a { color: inherit; text-decoration: inherit; }

.accordion .loading { display: none; }

.loading { display: none; }

.accordion { width: 100%; }

.accordion li h3 a { color:#4A4A4A; font-size:16px; display: block; font-style: normal; margin: 0; padding: 5px 10px; }

.accordion li h3 { margin: 0; padding: 5px 0; font-size: 18px; font-weight: normal; }

#faq { padding: 0; margin: 0; float:left; width:100%; }

#faq_end { padding: 0; margin: 0 auto; width:960px; }

#faq_page li { list-style:none; border:1px solid #909090; padding: 0; margin: 0; }

#faq_page { background: #fff; width: 100%; padding: 0px; text-align: left; }

#right_faq h5 { color:#2656A5; font-size:18px; }

#right_faq article { color:#4A4A4A; font-size:14px; }