@charset "utf-8";
/* CSS Document */

.under_view_heading { padding: 0 0 0 100px; margin: 0; }

.shipping_books_and_content { width:70%; padding: 20px 0; margin: 0; float:left; }

.shipping_books { display:block; padding: 0 0 0 100px; margin: 0; width:90%; }

.shipping_book { float:left; }

.shipping_content { float:left; padding: 10px 0 0 30px; margin: 0; }

.shipping_content h4 { color:#0a1354; font-size:24px; }

.shipping_content p { color:#565656; font-size:12px; }

.shipping_content p span { color:#181818; }

.shipping_content article { color:#0a1354; font-size:12px; }

.shipping_content section { color:#464646; font-size:10px; }

.shipping_content section input { height:21px; width:32px; border:none; background:#ebe9e9; color:#888888; font-size:11px; border-radius:3px; }

.quantity_text { float:left; }

.shipping_up_img { padding: 0; margin: 0 0 0 0; height:10px; }

.shipping_down_img { padding: 0; margin: 0 0 0 0; height:10px; }

.up_down { margin-left:-13px; float:left; display:block; width:20px; padding: 0; }

.up_down a { padding: 0; margin: 0; height:10px; float:left; }

.up_down a img { padding: 0; margin: 0; height:10px; }

.remove_shipping { border:none; background:#f89e00; height:30px; border-radius:5px; color:#f8f8f8; font-size:16.35px; cursor:pointer; width:200px; margin: 30px 0 0 0; }

.shopping_bag { width:270px; float:right; padding: 0px; margin: 40px 50px 0 0; background:#e0e3df; border-radius:5px; }

.shopping_bag h1 { color:#493c37; font-size:16px; font-weight:normal; padding: 10px; }

.left_shopping { float:left; width:170px; }

.shopping_bag section input { height:21px; width:32px; border:none; background:#ebe9e9; color:#888888; font-size:11px; border-radius:3px; padding: 0; margin: 0; }

.shopping_bag section span { color:#272925; font-size:12px; padding: 0 0 0 10px; margin: 0; }

.right_shopping { float:left; width:50px; color:#585858; font-size:12px; }

.shopping_scroller { overflow-y:scroll; height:150px; width:240px; overflow-x:hidden; padding: 10px; margin: 0 0 10px 0; }

#cart_check { border:solid 10px transparent; border-bottom-color:#10459c; position: absolute; margin: 28px 0 0 125px; }

.add_shipping { border:none; background:#f89e00; height:30px; border-radius:5px; color:#f8f8f8; font-size:16.35px; cursor:pointer; width:200px; margin: 0px 0 0 20px; }

.shipping_button { padding: 0; margin: 0; float:left; }

.under_view_heading h2 { padding: 0 0 0 15px; margin: 0; }