@charset "utf-8";
/* CSS Document */

.contact_us { padding: 0 0 0 100px; margin: 0; width:90%; }

.left_contact_part { width:70%; padding: 0; margin: 0; float:left; }

.left_contact_part h1 { color:#2656a5; font-size:18px; padding: 30px 0; margin: 0; }

.contact_field { background:#ededed; border-radius:10px; padding: 20px; width:529px; box-shadow: 0 0 5px #888; }

.contact_field h2 { color:#333333; font-size:12px; padding: 0 0 0 40px; margin: 0 0 30px 0; font-weight:normal; }

.contact_field span { color:#990000; }

.contact_form { padding: 5px 0; margin: 0; }

.contact_form p { width: 130px; float:left; color:#333333; font-size:12px; padding: 0 0 0 40px; margin: 0; }

.form_name { width:215px; height:23px; -moz-box-shadow: inset 0 0 5px #666; -webkit-box-shadow: inset 0 0 5px #666; box-shadow: inset 0 0 5px #666; border:none; }

.contact_form textarea { width:215px; -moz-box-shadow: inset 0 0 5px #666; -webkit-box-shadow: inset 0 0 5px #666; box-shadow: inset 0 0 5px #666; border:none; }

.submit_btn { float:right; width:61px; height:31px; background:none; background:url(../images/submit_btn_img_03.png) no-repeat; border:none; font-size:14px; color:#FFF; padding: 0; margin: 60px 30px 0 0;}
 
.business_contact { width:260px; float:left; padding: 0; margin: 10px 0; }

.business_contact article { font-size:14px; color:#092b71; line-height:23px; }

.business_contact section { font-size:14px; color:#343434; line-height:23px; }

.right_contact_part { float:left; width:300px; background:#efefef; padding: 30px 20px; border-radius:10px; margin: 60px 0 0 0; box-shadow: 0 0 5px #888; }

.right_contact_part h3 { color:#092b71; font-size:14px; line-height:23px; font-weight:normal; }

.countries_contact { padding: 5px 0; }

.contact_info { width:529px; }

.right_contact_part p { font-size:11px; color:#343434; line-height:23px; }