* { margin: 0; padding: 0; }

a { text-decoration:none; }

a img { text-decoration:none; outline:none; }

img { border:none; outline:none; }

a img { border:none; outline:none; }

body { background: #fff; padding: 0; margin: 0; min-width: 320px; max-width: 1900px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

.landing_page_wrap { float:left; background: #d6d4d3; padding: 0; min-width: 320px; max-width: 1900px; margin: 0px auto; border-top: 5px solid #092b71; border-bottom: 5px solid #092b71; }

#landing_banner { background:url(../images/landing_page_background_img_02.png) no-repeat; background-size:cover; float:left; width:100%; height:100%; padding: 0; margin: 0; }

.landing_logo_part { padding: 0; margin: 0 auto; width:600px; background:#092b71; display:block; }

.landing_logo { width:173px; height:274px; padding: 0; margin: 180px 0 100px 0; float:left; border-radius: 5px 0 0 5px; background:#092b71; text-align:center; }

.landing_logo_right { width:389px; height:274px; float:left; background:#d5d5d5; padding: 0 0 0 20px; margin: 180px 0 0 0; border-radius:5px; opacity:0.9; }

.landing_logo_right h1 { font-size:38.15px; font-weight:bold; text-height:auto; color:#092b71; }

.landing_logo_right span { font-size:12px; }

.landing_logo_right h2 { font-size:16px; color:#313131; padding: 0; margin: 30px 0 0 0; }

.landing_logo_right select { box-shadow: inset 0 0 2px #000000; width:374px; height:30px; padding: 5px 5px 5px 5px; margin: 5px 0; border:1px solid #898989; border:none; font-size:18px; color:#092b71; }

.landing_logo_right select option { border:none; background:none; font-size:18px; color:#092b71; }

.landing_logo_right h3 { float:left; font-size:16px; color:#313131; padding: 0; margin: 40px 0 0 0; }

.landing_logo img { padding: 0; margin: 33px 0 0 0; }

.onoffswitch { float:left; padding: 0; margin: 35px 0 0 10px; position: relative; width: 90px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }

.onoffswitch-checkbox { display: none; }

.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; border-radius: 20px; }

.onoffswitch-inner { width: 200%; margin-left: -100%; -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after { float: left; width: 50%; height: 30px; padding: 0; line-height: 30px; font-size: 14px; color: white; font-weight: bold; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    
.onoffswitch-inner:before { content: "ON"; padding-left: 10px; background-color: #092b71; color: #FFFFFF; }

.onoffswitch-inner:after { content: "OFF"; padding-right: 10px; background-color: #EEEEEE; color: #999999; text-align: right; }

.onoffswitch-switch { width: 18px; margin: 6px; background: #FFFFFF; border-radius: 20px; position: absolute; top: 0; bottom: 0; right: 56px; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right: 0px; }

.enter_button { padding: 0; margin: 35px 15px 0 0; float:right; width:100px; height:34px; border:none; background:none; background-color:#092b71; opacity:none; color:#FFF; border-radius:5px; font-size:15px; }

.landing_arrow { float:left; padding: 0; margin: 0; }

.landing_arrow img { position:absolute; padding: 0; margin: 60px 0 0 -32px;}

.numbers { width:100%; float:left; padding: 20px 0 0 0; margin: 0px 0 0 0; background:#000; color:#FFF; opacity:0.8; height:50px; text-align:center; }

.numbers span { border-right: 2px solid #FFF; padding: 0 15px; margin: 0; font-size:24px; }

.numbers span:last-child { border:none; }

#landing_content { padding: 10px 100px; margin: 0; float:left; }

#landing_content p { font-size:18px; color:#313030; text-align:justify; }

.landing_main_div { width:100%; padding: 20px 0; margin: 0; float:left; }

.landing_div { width:19%; height:340px; padding: 0 20px; margin: 10px; background:#ecf0f1; border-radius:5px; float:left; text-align:center; }

.landing_div img { padding: 0; margin: 50px 0 35px 0; height:100px; }

.landing_div h4 { color:#34495e; font-size:20px; }

.landing_div article { padding: 0; margin: 10px 0; font-size:14px; color:#34495e; }

.shop_now { background:#f89e00; border: none; width:100%; height:45px; color:#FFF; border-radius:5px; }

.popular { background:url(images/popular_bg.png); position:relative; float:right; height:82px; width:82px; margin: -4px -24px 0 0; }

.books_img { padding: 0; margin: 0 0px 0 0; }

.books_img a img { padding: 0; margin: 50px 0 35px 50px; position:relative; }

#wraper { padding: 0; margin: 0; width:100%; background:#FFF; float:left; }

header { padding: 0 20px; margin: 0; width:97%; background:#092b71; float:left; display:block; height:35px; position:fixed; }

#left_header { float:left; padding: 3px 0; margin: 0; width:30%; }

#right_header { float:right; padding: 0; margin: 10px 0 0 0; }

#right_header span { float:left; font-size:11px; color:#FFF; border-right:1px solid #FFF; margin: 0px 0 0 0; padding: 0 10px; }

#right_header span a { font-size:11px; color:#FFF; text-decoration:none; margin: 0px 0 0 0; }

#right_header span:last-child { border-right:none; }

#banner { border-top: 1px solid #000; padding: 0 0px 0 0px; margin: 0 0px 0 0px; width:100%; float:left; background:#FFF; }

#upper_banner { width:100%; margin-top: 35px; background:#FFF; }

.logo { width:30%; padding: 0; margin: 10px 0 0 0; float:left; }

.logo a img { padding: 0; margin: 0 0 0 30px;}

.search_with_box { padding: 0; margin: 35px 0 0 0; width:50%; float:left; }

#search-box { position: relative; width: 100%; margin: 0; }

#search-form { box-shadow: inset 2px 2px 3px #c5c5c5; height: 37px; border: 1px solid #7b7b7b; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #fff; overflow: hidden; }

#search-box img { padding: 0; margin: 10px 0 0 10px; position:relative; float:left; }

#search-text { font-size: 14px; color: #ddd; border-width: 0; background: transparent; }

#search-box input[type="text"] { width: 90%; padding: 11px 0 12px 1em; color: #333; outline: none; }

#search-button { position: absolute; top: 0; right: 0; height: 38px; width: 97px; font-size: 17px; color: #fff; text-align: center; line-height: 30px; border-width: 0; background:url(../images/search_bg_img_03.png) no-repeat; -webkit-border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px; cursor: pointer; }

.cart_part { padding: 0px 0px; margin: 38px 0 0 0; float:right; width:15%; }

.add_to_cart { padding: 0; margin: 0px 10px 0 0; float:left; }

.wishlist { padding: 0; margin: 0px 0 0 0; float:left; }

.wishlist a { float:left; }

.wishlist span { float:left; padding: 0; margin: 10px 0px 0 -32px; font-size:12px; color:#61666d; }

.left_bar { padding: 0; margin: 0; width:70%; float:left; }

.left_bar img { width:100%; height:100%; float:left; }

.left_bar img { max-width:100%; width:100%; height:506px; }

.activites { padding: 0; margin: 0px 0 0px 0; width:100%; background:url(images/activites_bg_img_03.png) no-repeat; height:219px; opacity:0.97; }

.activites table { padding: 10px 10px 10px 20px; margin: 0; width:100%; }

.ativities_tr { padding: 0px 0 0 0; margin: 0px 0 0 0; height:90px; float:left; width:600px; }

.best_seller { float:right; padding: 0; margin: -30px 0 0 0; }

#footer_part { position:relative; width:100%; float:left; }

#books_footer_part { padding: 0; margin: 0px 0 0 0; width:100%; float:left; position:relative; }

.left_activites { padding: 0; margin: 10px 0 0 0; width:10%; float:left; }

.right_activites { padding: 0; margin: 10px 0 0 0; width:85%; float:left; }

.right_activites p { font-size:14px; text-align:left; color:#FFF; line-height:normal; }

.right_activites p span { color:#ffba00; }

.right_activites section { font-size:16px; color:#f89e00; line-height:normal; }

.right_activites article { font-size:11px; color:#FFF; text-align:left; padding: 0; margin: 0; line-height:14px; }

.toggleBtnHolder{ position:fixed; bottom: 0; display: block; width: 100%; height: 30px; border-bottom: 5px solid #092b71; padding: 0; margin: 0px 0 0 0; }

.btnToggle{ border:none; float:right; }

#content { padding: 0; margin: 30px 0 0 0; width:100%; background:#FFF; float:left; }

.general_content { padding: 0px 0 0 0; margin: -50px 0 0 0; width:100%; background:#FFF; float:left; }

.books_content { width:17%; padding: 20px 50px; margin: 0; float:left; text-align:center; }

.books_content a img { height:136px; }

.books_content h1 { color:#092b71; font-size:21.68px; }

.books_content p { color:#333333; font-size:14px; padding: 0 17px; }

.shop_now_arrow { background:#f89e00; border: none; width:60%; height:30px; color:#FFF; border-radius:5px; font-size:16.35px; padding: 0; margin: 10px 0 0 0; }

.under_heading { width:100%; padding: 0; margin: 50px 0 50px 0; text-align:center; float:left; }

.under_heading h2 { font-size:24px; color:#262626; font-weight:normal; }

.featured_books { width:17%; padding: 20px 50px; margin: 0; float:left; text-align:center; }

.featured_books h3 { color:#031778; font-size:15.88px; }

.featured_books p { color:#575757; font-size:12px; padding: 0 17px; }

.under_content { padding: 10px; margin: 40px 0 20px 50px; width:90%; border-top: 1px solid #f89e00; float:left; }

.left_under_content { height:200px; width:25%; padding: 0; margin: 10px 0 0 0; float:left; border-right: 1px solid #f89e00; }

.left_under_content h4 { color:#092b71; font-size:24px; padding: 0; margin: 5px 0 20px 0; }

.left_under_content p { color:#383838; font-size:20.85px; padding: 0; margin: 0; }

.left_under_content h5 { font-size:26.47px; color:#f89e00; padding: 0; margin: 0 0 5px 0; }

.left_under_content article { color:#383838; font-size:12px; padding: 0; margin: 0 0 20px 0; }

.middle_under_content { height:200px; width:40%; padding: 0 30px; margin: 10px 0 0 0; float:left; border-right: 1px solid #f89e00; background:url(../images/books_and_cards_img_07.png) no-repeat; background-position:right; }

.middle_under_content p { width:237px; text-align:center; font-size:17.97px; color:#3e3e3e; }

.middle_under_content h5 { color:#031778; font-size:30px; font-weight:normal; }

.right_under_content { height:200px; width:25%; padding: 0; margin: 10px 0 0 0; float:left; background:url(../images/book_with_pages_img_07.png) no-repeat; background-position:bottom; text-align:right; }

.right_under_content h5 { color:#031778; font-size:20.52px; }

.right_under_content h6 { color:#f89e00; font-size:41.03px; }

.right_under_content h6 span { color:#f89e00; font-size:15.39px; width:20px; float:none; }

.right_under_content article { font-size:15.39px; color:#031778; }

.right_under_content p { color:#454545; font-size:10px; }

#dvText { position: absolute; background:#092b71; width:100%; height:290px; margin: -1px 0 0 0; z-index:9998; float:left; bottom: 0px; display: none; }

#div_text { width:980px; margin: 0 auto; padding: 0; }

h5 { font-style:normal; font-size:14px; }

#div_img { float:right; margin: -37px 0 0 0px; padding: 0 0 0 0; display:block; }

#left_footer { float:left; width:326px; padding 0; margin: 20px 0 0 0; }

#left_footer h1 { color:#f49e08; font-weight:bold; font-size:15px; padding: 20px 0 0 0; margin: 0px 0 0 0; }

#left_footer a img { float:left; padding: 0; margin: 15px 0 0 10px; }

#left_footer p { font-size:12px; padding: 0 37px 0 27px; margin: 5px 0 30px 0; color:#888888; float:left; line-height:18px; }

#left_under_footer { float:left; padding: 0; margin: 10px 0 0 0; width:200px; }

#left_under_footer li { color:#888888; font-size:12px; float:left; padding: 0px 0 0px 0; margin: 0px 0 0px 0; list-style:none; display:block; }

#left_under_footer li img { float:left; padding: 0; margin: 0 10px 0 0px;  }

#left_under_footer li { float:left; padding: 0; margin: 5px 0 5px 0; }

#left_under_footer li a { font-size:12px; float:left; color:#888888; padding: 0; margin: 0; }

#left_under_footer li a:hover { color:#FFF; }

#middle_footer { float:left; width:326px; padding 0; margin: 30px 0 0 0; }

#middle_footer h1 { color:#f49e08; font-weight:bold; font-size:15px; }

#middle_footer img { margin: 0px 0 5px 0; }

#middle_footer article { padding: 2px 0 2px 0; margin: 0; }

#middle_footer article a { padding: 0; margin: 5px 0 0 0; color:#888888; font-size:12px; }

#middle_footer article a:hover { color:#FFF; }

#right_footer { float:left; width:326px; padding 0; margin: 20px 0 0 0; }

#right_footer h1 { color:#f49e08; font-weight:bold; font-size:15px; margin: 0 0 10px 0; }

#right_footer p { padding: 0; margin: 15px 0 0 0; }

#right_footer p a { color:#888888; }

#right_footer p a:hover { color:#FFF; }

#right_footer article { font-size:12px; padding: 0; margin: 0px 0 0 0; color:#888888; }

#right_footer article i { font-size:12px; padding: 0; margin: 0px 0 0 0; color:#888888; }

#right_footer section { color:#f89e00; font-size:12px; padding: 0; margin: 100px 0 0 0; }

.add_to_cart_arrow { background:#f89e00; border: none; width:30%; height:30px; color:#FFF; border-radius:5px; font-size:16.35px; padding: 0; margin: 10px 0 0 0; }

.add_to_cart_button { padding: 0; margin: 50px 0 0 0; }

.add_to_cart_button a img { padding: 0 10px; margin: 0 0px; border-right: 1px solid #efefef; }

.left_detail { float:left; width:30%; }

.right_detail { float:left; width:70%; }

.right_detail h1 { color:#0a1354; font-size:24px; padding: 0; margin: 20px 0 0 0; line-height:24px; }

.right_detail h2 { color:#565656; font-size:12px; padding: 0; margin: 0; line-height:24px; }

.right_detail h2 span { color:#181818; font-size:12px; padding: 0; margin: 0; }

.right_detail p { color:#181818; font-size:12px; padding: 0; margin: 0; line-height:24px; }

.right_detail article { color:#464646; font-size:12px; padding: 0; margin: 0; line-height:24px; }

#image_detail h3 { padding: 0; margin: 30px 0 0 0; float:left; width:100%; color:#2656a5; font-size:18px; line-height:24px; }

#image_detail section { float:left; width:100%; color:#464646; font-size:12px; line-height:18px; }

#left_description { padding: 0 30px; margin: 0; width:50%; float:left; }

#right_description { padding: 10px; margin: 0; float:left; width:30%; background:#ededed; border-radius:5px; border: 1px solid #bdbdbd; }

#right_description h4 { color:#092b71; font-size:16px; }

#right_description p { color:#000; font-size:14px; }

#right_description article { color:#574b4b; font-size:14px; }

#right_description article a { text-decoration:underline; color:#2c56aa; }

#right_description section { color:#937d7d; font-size:14px; }

.stars_description { padding: 0; margin: 10px 0 0 0; }

#description_content { padding: 30px; margin: 0px 0; width:95%; float:left; }

#description_content h1 { font-size:18px; color:#2656a5; line-height:24px; padding: 0 0 30px 0; }

#description_content article { color:#2e2e2e; font-size:12px; line-height:24px; }

#description_content p { color:#2e2e2e; font-size:14px; line-height:24px; text-align:justify; }

#description_content h2 { font-size:18px; color:#2656a5; line-height:24px; padding: 30px 0; }

#description_content h3 { font-size:16px; color:#4a4a4a; line-height:24px; }

#description_content section { color:#2656a5; font-size:14px; line-height:24px; }

#description_content section a { color:#2656a5; font-size:14px; line-height:24px; }

.under_heading h6 { color:#2656a5; font-size:18px; padding: 0 0 0 30px; text-align:left; }

.add_to_cart_books_arrow { background:#f89e00; border: none; width:50%; height:30px; color:#FFF; border-radius:0 5px 5px 0; font-size:16.35px; padding: 0; margin: 10px 0 0 0; }

#right_banner { background:#efefef; width:22%; padding: 10px 0 10px 0; margin: 20px 0 0 0; float:left; border:1px solid #d0d0d0; border-radius:3px; }

#right_banner h2 { color:#2e3192; font-size:18px; padding: 0 0 0 10px; }

#right_banner h1 { color:#1a1a1a; font-size:13px; border-bottom:1px solid #e3e3e3; padding: 0 0 10px 10px; }

.small_book { width:311px; padding: 0 10px 0px 10px; margin: 10px 0 0 0; float:left; }

.small_book_img { width:15%; float:left; padding: 0; margin: 0; }

.small_book_content { width:70%; padding: 0 0 0 7px; margin: 0; float:left; }

.small_book_content p { color:#808080; font-size:11px; padding: 3px 0 0 0; margin: 0; }

.small_book_content p a { color:#3b5998; text-decoration:none; }

.small_book_content .blak { color:#1a1a1a; }

.add_to_cart ul { list-style-type: none; }

.add_to_cart li { float: left; position: relative; text-align: center; }

#check_out_pointer { border:solid 10px transparent; border-bottom-color:#10459c; position: absolute; margin: 151px 0 0 125px; }

#login_pointer { border:solid 10px transparent; border-bottom-color:#e5e7e8; position: absolute; margin: -30px 0 0 130px; }

#pointer { border:solid 10px transparent;border-bottom-color:#e5e7e8; position: absolute; margin: -20px 0 0 100px; }

.add_to_cart ul.sub-menu { background:#e5e7e8; border-radius:5px; width:270px; display: none; top: 40px; margin: 0px 0px 0 -90px; position: absolute; }

.add_to_cart ul.sub-menu li { text-align: left; }

.add_to_cart li:hover ul.sub-menu { display: block; border: 1px solid #ececec; }

.sub-menu h1 { font-size:18px; color:#493c37; text-align:left; padding: 10px; margin: 0; }

.sub-sub-menu { width:220px; float:left; padding: 10px; }

.sub-sub-menu select { width:15%; float:left; }

.sub-sub-menu h2 { font-size:12px; width:50%; float:left; text-align:left; padding: 3px 0 0 5px; color:#272925; }

.sub-sub-menu span { width:30%; float:left; text-align:left; color:#585858; font-size:12px; }

.check_out { padding: 0; margin: -2px 0 0 0; width:100%; border: none; background:#10459c; color:#FFF; border-radius:3px; height:30px; }

.total { background:url(../images/total_background_img_03.png) no-repeat; width:100%; padding: 15px; margin: 0px; height:20px; float:left; text-align:left; color:#FFF; font-size:16px; }

.total img { float:left; padding: 0 0 0 0px; margin: 0px 0 0 0; }

.total h3 { float:left; padding: 0 0 0 20px; margin: 0; }

.total h4 { float:left; padding: 3px 0 0 40px; margin: 0; }

#book_description_footer_part { padding: 0; margin: 408px 0 0 0; width:100%; position:absolute; float:left; }

.under_best_seller { display:none; }

.best_seller { padding: 0; margin: 0; }

.crown_img { padding: 0; margin: 0 0 0 15px; position:relative; top: 10px; }

.under_best_seller { background:#ebebeb; border-radius: 5px 0 0 5px; box-shadow: 5px 5px 5px 5px #888888; padding: 10px; width:280px; height:480px; overflow-y: scroll; position:absolute; float:right;z-index: 9999; right:10px; opacity:0.9; }

.under_best_seller h1 { color:#092b71; font-size:30px; padding: 0; margin: 0; }

.quran_pen { width:100%; padding: 0; margin: 10px 0; float:left; }

.quran_img { float:left; padding: 0; margin: 0; width:50%; }

.quran_text { float:left; padding: 0; margin: 10px 0; width:50%; }

.quran_text h2 { padding: 0; margin: 0; color:#031778; font-size:18px; }

.quran_text p { padding: 0; margin: 0; color:#333333; font-size:10px; }

.quran_text article { color:#333333; font-size:10px; }

.shop_up { padding: 0; margin: 0 0 20px 0; width:100%; text-align:center; }

.shop_now_arrow { background: #F89E00; border: none; border-radius: 5px; color: #FFFFFF; font-size: 16.35px; height: 30px; margin: 10px 0 0; padding: 0; width: 60%; text-align:center; }

#below_banner { margin: 120px 0 0 0; }

.best_selling_img { position:relative; }

.product_detail { padding: 0; margin: 0 0 0 22px; }

hr.style-two { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }

.clear { clear:both; }

@font-face { font-family: myFirstFont; src:url(../fonts/Sentinel-Bold.ttf); }

.payment_bg { font-family: myFirstFont; font-size:26.26px; color:#d89633; background:url(../images/p_b_s_background_img_03.png) no-repeat; width:216px; height:45px; float:left; padding: 0; margin: 20px 0 0 80px; }

.payment_method_big_img { float:left; padding: 0; margin: 0; }

.secure_payment { float:left; width:100%; }

.secure_heading p { color:#3b3b3b; font-size:11px; }

.secure_heading { padding: 0; margin: 0; float:left; }

.secure_heading h1 { color:#003366; font-size:24px; padding: 0; margin: 20px 0 0px 0; font-weight:normal; }

.payment_bg article { float:left; padding: 0; margin: 5px 0 0 17px; font-weight:bold; }

.payment_bg section { float:left; padding: 0; margin: 5px 0 0 67px; font-weight:bold; }

.payment_bg h3 { float:left; padding: 0; margin: 3px 0 0 67px; font-weight:normal; }

.payment_bg span { float:left; font-size:10px; font-weight:normal; color:#ff9933; width:60px; text-align:center; padding: 0 0 0 0; margin: 10px 0 0 -7px; }

.payment_bg h5 { float:left; font-size:10px; font-weight:normal; color:#ff9933; width:70px; text-align:center; padding: 0 0 0 18px; margin: 10px 0 0 0; }

.payment_bg h2 { float:left; font-size:10px; font-weight:normal; color:#ff9933; width:45px; text-align:center; padding: 0 0 0 25px; margin: 10px 0 0 0px; }

.secure_form { width:100%; float:left; padding: 20px 0; margin: 30px 0 0 0; }

.secure_left_form { min-height:290px; float:left; width:45%; padding: 10px 0px 10px 30px; margin: 0; background:#ededed; border: 1px solid #bdbdbd; border-radius:10px; }

.secure_left_form h2 { padding: 0; margin: 0; float:left; color:#003366; font-size:17px; font-weight:normal; }

.secure_left_form article { color:#333333; font-size:12px; padding: 0; margin: 4px 0px 0 30px; float:left; }

.secure_left_form article span { color:#990000; font-size:14px; }

.secure_text { padding: 0; margin: 0; float:left; width:25%; }

.secure_input_type { padding: 0; margin: 0; float:left; width:50%; }

.secure_button { padding: 0; margin: 0 40px 0 0; float:right; width:61px; height:31px; border: none; background:url(../images/save_bg_img_03.png) no-repeat; color:#FFF; font-size:14px; }

.secure_text_type { height:21px; border: none; border: 1px solid #c0c0c0; width:90%; }

.secure_right_form { min-height:290px; float:left; width:45%; padding: 10px 0px 10px 30px; margin: 0 0 0 10px; background:#ededed; border: 1px solid #bdbdbd; border-radius:10px; }

.secure_right_form article { color:#333333; font-size:12px; padding: 0; margin: 4px 0px 0 10px; float:left; }

.secure_right_form article span { color:#990000; font-size:14px; }

.secure_right_form img { float:right; width:64px; height:36px; padding: 0; margin: 0 40px 0 0; }

.secure_input { width:100%; float:left; padding: 0; margin: 7px 0; }

.shipping_btn { padding: 0; margin: 80px 80px 0 0; float:right; width:92px; height:31px; border: none; background:url(../images/shipping_bg_img_03.png) no-repeat; color:#FFF; font-size:14px; }

.secure_input select { display:block; width:214px; height:22px; }

.payment_checkbox { padding: 0; margin: 10px 0 0 0; color:#7a7873; font-size:10px; }

.shipping_address_heading { padding: 0; margin: 10px 0 20px 30px; }