@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.icon-menu { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

.hide { display: none; }

.hide.active, .show { display: block; }


@media only screen and (max-width: 768px) { 

}

a { color: #d04526; text-decoration: none; outline: 0; line-height: inherit; }

a:hover { color: #c03d20; }


@media only screen and (max-width: 768px) { 

ul { text-align: left; } 

}

@media print { 
 
}




@media only screen and (max-width: 767px) { 

body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }

.container { min-width: 0; margin-left: 0; margin-right: 0; }

.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }

.row .row .column, .row .row .columns { padding: 0; }

.row .centered { margin: 0 !important; }

.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }

.column:last-child, .columns:last-child { margin-right: 0; float: none; }

[class*="column"] + [class*="column"]:last-child { float: none; }

[class*="column"]:before { display: table; }

[class*="column"]:after { display: table; clear: both; }

[class^="push_"], [class*="push_"] { margin-left: 0 !important; } 

}

.navbar { width: 100%; display: block; background: #f3f3f3; }

.navbar.fixed { top: 0; left: 0; z-index: 99999; }

.navbar a.toggle { display: none; }

.navbar ul { display: table; vertical-align: middle; margin: 0; float: none; }

.navbar ul li { display: table-cell; text-align: center; padding-bottom: 0; margin: 0; height: 40px; line-height: 38px; }

.navbar ul li > a { display: block; padding: 0 8px; white-space: nowrap; font-size: 16px; font-size: 1rem; }

.navbar ul li:last-child { border-right: 1px solid #000; }

.navbar ul li:hover > a { position: relative; background:#FFF; z-index: 1000; }

.navbar ul li .dropdown { width: auto; min-width: 0px; max-width: 320px; height: 0; position: absolute; background: #fafafa; overflow: hidden; z-index: 999; }

.navbar ul li:hover .dropdown { min-height: 60px; max-height: 561px; overflow: visible; height: auto; width: 100%; padding: 0; border-top: 1px solid #3e4043; -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }

.navbar ul a.toggle { display: block; }

.navbar > ul > li > li > a { padding: 0 33px; }

.navbar > ul > li:last-child, .navbar > ul > li:last-child a:hover { border-right: none; }

.ie7 .navbar > ul { width: auto; }

.ie7 .navbar, .ie7 .navbar > ul > li > a { display: block; }

.ie7 .navbar .logo, .ie7 .navbar ul, .ie7 .navbar ul li { float: left; display: inline-block; }

.ie7 .navbar .logo a { display: block; overflow: hidden; }

.ie7 .navbar > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }

.pretty.navbar { background: #f3f3f3; }

.pretty.navbar.row { border-radius: 4px; }

.pretty ul li a { color: #000; font-family:Arial, Helvetica, sans-serif; }

.pretty.navbar ul li.field input.search { background:#999; border: none; }

.pretty.navbar > ul > li:first-child, .pretty.navbar .pretty.navbar > ul > li:first-child a:hover { box-shadow: none; }


@media only screen and (min-width: 768px) and (max-width: 939px) { 

.navbar .logo a { line-height: 0px; }

.navbar > ul > li > .btn a { padding: 0 10px 0 10px !important; }

.navbar ul > li .dropdown ul li:hover .dropdown { left: -320px; }

.navbar .dropdown li { max-width: 320px; word-wrap: break-word; } 

}

@media only screen and (max-width: 767px) { 

.navbar { position: relative; border: none; }

.navbar .logo { float: left; display: inline; }

.navbar .logo a { line-height: 0; padding-left: 2.12766%; }

.navbar .logo a img { width: auto; height: inherit; }

.navbar a.toggle { top: 18%; right: 4%; width: 46px; position: absolute; text-align: center; display: inline-block; color: white; background: #f3f3f3; height: 40px; line-height: 38px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 30px; font-size: 1.875rem; }

.navbar a.toggle:hover { background: #f3f3f3; }

.navbar a.toggle:active, .navbar a.toggle.active { background: #3e4043; }

.navbar.pretty a.toggle { border: 1px solid #3e4043; background:#333; }

.navbar.pretty a.toggle i { text-shadow: 0 1px 1px #191a1b; }

.navbar.pretty a.toggle:hover { background: #888d91; }

.navbar ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; overflow: hidden; text-align: center; background: #f3f3f3; }

.navbar ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }

.navbar ul li { display: block; position: relative; min-height: 60px; max-height: 320px; height: auto; width: 100%; }

.navbar ul li .dropdown { width: 100%; max-width: 100%; position: relative; }

.navbar ul li:hover .dropdown ul { position: relative; top: 0; background: #36393b; min-height: 60px; max-height: 250px; height: auto; overflow: scroll; }

.navbar ul li:hover .dropdown ul li a:hover { color: #d04526; }

.pretty.navbar.row { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

}

.subnav { display: block; width: auto; overflow: hidden; margin: 0 0 18px 0; padding-top: 4px; }

.subnav li, .subnav dt, .subnav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }

.subnav li:first-child, .subnav dt:first-child, .subnav dd:first-child { margin-left: 0; }

.subnav dt { color: #999; font-weight: normal; }

.subnav li a, .subnav dd a { color: #05390a; font-size: 15px; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.subnav li.active a, .subnav dd.active a { background: #5dbb73; padding: 5px 9px; }

[class^="icon-"] a:before, [class*=" icon-"] a:before, [class^="icon-"] a:after, [class*=" icon-"] a:after, i[class^="icon-"], i[class*=" icon-"] { font-family: "entypo"; position: absolute; text-decoration: none; zoom: 1; }

i[class^="icon-"], i[class*=" icon-"] { display: inline-block; position: static; min-width: 20px; margin: 0 5px; text-align: center; }

.icon-menu.icon-left a:before, .icon-menu.icon-right a:after { content: "\2630"; height: inherit; }

i.icon-menu:before { content: "\2630"; height: inherit; }
